<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <!-- Bootstrap CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/login.css" rel="stylesheet"/>
</head>
<body>
    <div class="container mt-5">
        @model Turnover_SA_de_CV.Usuario

        @{
            ViewBag.Title = "Registro";
        }

        <h2 class="text-center mb-4 display-4">Registro</h2>

        <div class="card-body abs-center">
            <div class="card shadow col-md-12 col-lg-5 p-5 abs-center">
                <!-- Formulario de Registro -->
                @using (Html.BeginForm("Registro", "Usuario", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <!-- Nombre -->
                    <div class="form-group mb-3 text-center">
                        @Html.LabelFor(m => m.Nombre, new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })
                    </div>

                    <!-- Correo -->
                    <div class="form-group mb-3 text-center">
                        @Html.LabelFor(m => m.Correo, new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.Correo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Correo, "", new { @class = "text-danger" })
                    </div>

                    <!-- Contraseña -->
                    <div class="form-group text-center">
                        @Html.LabelFor(m => m.Contraseña, new { @class = "form-label" })
                        @Html.PasswordFor(m => m.Contraseña, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Contraseña, "", new { @class = "text-danger" })
                    </div>

                    <!-- Botón de Registro -->
                    <button type="submit" class="btn btn-primary btn-block mt-4">Registrarse</button>
                }

                <!-- Enlace para iniciar sesión -->
                <div class="mt-4 text-center">
                    @Html.ActionLink("¿Ya tienes una cuenta? Inicia sesión", "Login", "Usuario", new { }, new { @class = "btn btn-link" })
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
