@model Turnover_SA_de_CV.Entrada

@{
    ViewBag.Title = "Eliminar Entrada";
}

<div class="container mt-5">
    <h2 class="text-center mb-4 display-4 text-danger">Eliminar Entrada</h2>

    <div class="card shadow-lg p-4">
        <h3 class="text-center text-warning">¿Estás seguro de que quieres eliminar esta entrada?</h3>
        <hr />
        <div class="p-3">
            <h4 class="text-primary">Detalles de la Entrada</h4>
            <dl class="row">
                <!-- Sección -->
                <dt class="col-sm-4">Sección</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Seccion)</dd>

                <!-- Cantidad -->
                <dt class="col-sm-4">Cantidad</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Cantidad)</dd>

                <!-- Fecha de Compra -->
                <dt class="col-sm-4">Fecha de Compra</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.FechaCompra)</dd>

                <!-- Nombre del Concierto -->
                <dt class="col-sm-4">Concierto</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Concierto.Nombre)</dd>

                <!-- Nombre del Usuario -->
                <dt class="col-sm-4">Usuario</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Usuario.Nombre)</dd>

                <!-- Total Pagado -->
                <dt class="col-sm-4">Total Pagado</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.TotalPagado)</dd>
            </dl>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="text-center">
                <input type="submit" value="Eliminar" class="btn btn-danger btn-md mx-2" />
                @Html.ActionLink("Volver a la Lista", "Index", null, new { @class = "btn btn-secondary btn-md mx-2" })
            </div>
        }
    </div>
</div>
