@model Turnover_SA_de_CV.Entrada

@{
    ViewBag.Title = "Detalles de Entrada";
}

<div class="container mt-5">
    <h2 class="text-center mb-4 display-4">Detalles de Entrada</h2>

    <div class="card shadow p-5">
        <h4 class="card-title mb-3">Información de la Entrada</h4>
        <hr />
        <dl class="row">
            <!-- Sección -->
            <dt class="col-sm-3">Sección</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Seccion)
            </dd>

            <!-- Cantidad -->
            <dt class="col-sm-3">Cantidad</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Cantidad)
            </dd>

            <!-- Fecha de Compra -->
            <dt class="col-sm-3">Fecha de Compra</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FechaCompra)
            </dd>

            <!-- Nombre del Concierto -->
            <dt class="col-sm-3">Concierto</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Concierto.Nombre)
            </dd>

            <!-- Nombre del Usuario -->
            <dt class="col-sm-3">Usuario</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Usuario.Nombre)
            </dd>

            <!-- Total Pagado -->
            <dt class="col-sm-3">Total Pagado</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.TotalPagado)
            </dd>
        </dl>
    </div>

    <div class="text-center mt-4">
        <!-- Botones de acción -->
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning btn-lg mx-2" })
        @Html.ActionLink("Volver a la Lista", "Index", null, new { @class = "btn btn-secondary btn-lg mx-2" })
    </div>
</div>
