@model Turnover_SA_de_CV.Concierto

@{
    ViewBag.Title = "Details";
}

<div class="container mt-4">
    <h2 class="text-center mb-4">Detalles del Concierto</h2>

    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Información del Concierto</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FechaConcierto)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FechaConcierto)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Lugar)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Lugar)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.EntradasPlateaDisponibles)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.EntradasPlateaDisponibles)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.PrecioPlatea)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PrecioPlatea)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.EntradasVIPDisponibles)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.EntradasVIPDisponibles)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.PrecioVIP)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PrecioVIP)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.EntradasGeneralDisponibles)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.EntradasGeneralDisponibles)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.PrecioGeneral)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PrecioGeneral)
                </dd>
            </dl>
        </div>
        <div class="card-footer text-center">
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
            </p>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
